* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "GenShinGothic";
    src: url(fonts/GenShinGothic-Bold.ttf) format("Bold");
}

body {
/*    width: 100vw;*/
}

#header {
/*
    width: 100%;
    background: rgba(0, 0, 0, 0.0);
    padding: 10px 0px;
    position: absolute;
    z-index: 2;
    display: flex;
*/
}

/*
.main-wrapper {
    width: 100vw;
}
*/

.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-wrapper {
/*
    width: 90%;
    margin: 0 auto;
    position: relative;
*/
}

.main-visual {
    width: 100%;
/*    width: 100vw;*/
/*    height: 100vh;*/
    background-image: url(/img/top.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c1c1c1;
}

.main-visual img {
    height: 615px;
    text-align: center;
    position: relative;
}

.top-title {
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 35px;
    letter-spacing: 5px;
}

.content-about {
    padding-top: 95px;
    padding-bottom: 25px;
    background-color: #c1c1c1;
    background-image: url(img/top.png);
}

.top-title-about {
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 35px;
    letter-spacing: 5px;
    color: white;
}

.content-about h3 {
    font-size: 16px;
    text-align: center;
    padding: 60px 60px 120px 60px;
    line-height: 50px;
/*    letter-spacing: 5px;*/
    color: white;
}

.content-what h3 {
    font-size: 13px;
    text-align: center;
    color: #c1c1c1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.content-what img {
    height: 350px;
    padding: 85px 165px;
}

.content-type {
    background-color: #f2eee2;
    height: 630px;
}

.content-type h3 {
    font-size: 13px;
    text-align: center;
    color: #c1c1c1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.content-work h3 {
    font-size: 13px;
    text-align: center;
    color: #c1c1c1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.single-item img {
    margin: 0 auto;
    height:  450px;
}

.content-storage {
    background-color: #f2eee2;
}

.content-storage h3 {
    font-size: 13px;
    text-align: center;
    color: #c1c1c1;
    letter-spacing: 3px;
    padding-top: 5px;
}

.content-storage img {
    height: 380px;
    padding: 80px 125px;
}

footer {
    text-align: center;
    font-family: "Futura";
    margin-bottom: 50px;
}

.slick-dotted {
    padding: 0 !important;
}

/*スマホ*/
@media screen and (max-width: 480px) {
    
}
